
header {
	background-color: #222;
	border-color: #090909;
	padding: 20px;
}

a {
	text-decoration: none;
	color: #fff;
}

.content {
	padding: 20px;
}

h1 {
	color: red;
	text-align: center;
}

p {
	color: red;
}
textarea {
	padding: 5px;
}
img {
	width: 100px;
	height: 100px;
}

.scroll-element {
	background-color: lightblue;
	height: 220px;
	width: 300px;
	overflow: auto;
}
.scroll-element p {
	height: 250px;
	width: 400px;;
	border: 1px solid red;
}

.custom-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.first-shadow {
	border: 2px solid red;
	padding: 10px;
	margin: 0 auto;
	width: 70%;
}



