
header {
	background-color: #222;
	border-color: #090909;
	padding: 20px;
}

#logo {
	color: green;
	font-size: 25px;
	margin-right: 10px;
}

.content {
	padding: 20px;
}

.link {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	margin: 0 10px;
}

.link:hover {
	border-bottom: 1px solid #fff;
}
