<header>
  <a id="logo" href="/">RPAのサポート</a>
  <a class="link" routerLink="/page-a">Page A</a>
  <a class="link" routerLink="/page-b">Page B</a>
  <a class="link" routerLink="/page-c">Page C</a>
  <a class="link" routerLink="/page-loadmore">Page LoadMore</a>
  <a class="link" routerLink="/page-scroll">Page Scroll</a>
  <a class="link" routerLink="/nextpage">NextPage</a>
  <a class="link" routerLink="/page-paginate">Page Paginate</a>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>




